*{
    margin: 0;
    padding: 0;
}
.demo{
    height: 100vh;
    width: 100%;
}
.demo model-viewer{
    height: 100%;
    width: 100%;
}
.btn-container{
    position: absolute;
    bottom: 50px;
    width: 100vw;
    text-align: center;
}
button{
    border: none;
    background: rgb(17, 105, 9);
    height: 7vh;
    width: 5vw;
    margin: 1rem 15rem;
    cursor:pointer;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 8rem;
}
button:focus{
    outline: olive;
}